/node_modules
/vendor
.env
.DS_Store
/storage/framework/views/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/views/.gitignore
/storage/logs/*.log
